.tudo {

    background-color: darkgrey;
    font-family: 'Times New Roman', Times, serif;
    margin: 5%;
    width: auto;
    float: left;
    border: 5%;
    border-color: white;

}

.SeletoresCSS{

    background-color: darkgrey;
    font-family: 'Times New Roman', Times, serif;
    border: 5%;
    border-color: white;
    margin: 5%;
    width: auto;
}

















